#%RAML 0.8

title: test
baseUri: http://api.quickenloans.com
version: 1

/resource:
  description: info
  get:
    description: collection GET
    responses:
      200:
        description: success
        body:
          application/json:
            example: |
              {}
            schema: |
              {}
  post:
    description: different
    body:
      application/json:
        example: |
          {
            "name": "Bobby Drop Tables"
          }
        schema: |
          {}
    responses:
      202:
        description: accepted
        body:
          application/json:
            example: |
              {
                "name": "new"
              }
            schema: |
              {}
  /{id}:
    description: more info
    get:
      description: entity GET
      responses:
        200:
          description: success
          body:
            application/json:
              example: |
                {}
              schema: |
                {}
        400:
          description: fail
          body:
            application/json:
              example: |
                {}
              schema: |
                {}
    /sub_resource:
      description: Not methods added intentionally for test coverage.
      get:
        description: more info
        responses:
          200:
            description: success
            body:
              application/json:
                example: |
                  {}
                schema: |
                  {}
          500:
            description: fail
            body:
              application/json:
                example: |
                  {}
                schema: |
                  {}
