# Logs
logs
*.log

# emacs temporary files
*.*~

# Dependency directory
# Deployed apps should consider commenting this line out:
# see https://npmjs.org/doc/faq.html#Should-I-check-my-node_modules-folder-into-git
coverage
docs
node_modules

.DS_Store
