<html>
<body>
  <form method="post" action="/api/validate">
    <textarea name="raml" rows="10" cols="30" default="put raml here...">
#%RAML 0.8

title: Core API
#baseUri: http://core/api
baseUri: http://mocksvc.mulesoft.com/mocks/b5649221-287a-4524-a0b2-d8ccf4342c3c/mocks/b9dcc180-4dc2-42f6-a548-cb72dad0550a/api
version: 1

traits:
  - paged:
      queryParameters:
        page:
          description: The page number requested
          type: number
  - queryable:
      queryParameters:
        q:
          description: The search term
          type: string

/applications:
  get:
    is: [ paged, queryable ]
    queryParameters:
      team:
        description: The team to display applications for
        type: string
    responses:
      200:
        body:
          application/json:
            example: |
              [
                {
                  "ApplicationId": 200001,
                  "ApplicationName": "Testing"
                }
              ]
  post:
/systems:
  get:
    is: [ paged, queryable ]
    responses:
      200:
        body:
          application/json:
            example: |
              [
                {
                  "SystemId": 200001,
                  "SystemName": "Testing"
                }
              ]
  /systems/{systemId}:
    get:
      responses:
        200:
          body:
            application/json:
              example: |
                {
                  "SystemId": 200001,
                  "SystemName": "Testing",
                  "ApplicationIds": [ 200001, 200002, 200003 ]
                }
    </textarea>
    <input type="submit">
  </form>

</body>
</html>